@import "./sass/variable";
@import "./sass/pages/about";
@import "./sass/pages/blogs";
@import "./sass/pages/contact";
@import "./sass/layout";
@import "./sass/typography";
@import "./sass/navbar";
@import "./sass/skill";
@import "./sass/pages/portfolios";
@import "./sass/services";
@import "./sass/title";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 50px;
}
// body::-webkit-selection {
//   background: #ff9933;
// }
// body::-moz-selection {
//   background: #ff9933;
// }
body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
body::-webkit-scrollbar-track {
  background-color: #777;
}

body {
  color: #ccc;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
}
span {
  color: #037fff;
}
@media screen and (max-width: 411px) {
  html {
    font-size: 70%;
  }
}
@media screen and (max-width: 700px) {
  // html {
  //   font-size: 90%;
  // }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 70%;
  }
  h3 {
    font-size: 70%;
  }
}
@media screen and (min-width: 400px) {
  body {
    font-size: none;
  }
}
